body{
  background-color: rgb(184, 197, 187);
  width: 90%; 
  border: 2px solid black;
  margin: 0 auto;
}
H1{
  text-align: CENTER;
  border: 2px solid black;
  background-color: black;
  color: white;
  padding: 20px;
  font-style: initial;
  margin-top: 0;
  font-weight: 700;
}
p{
  border: 2px solid black;  
  padding: 10px;
  font-family: Georgia, 'Times New Roman';
  margin: 5px;
}
h3{
  color: blueviolet;
  padding: 10px;
}
h4{
  padding: 10px;
  color: red;
  margin: 5px;
}
a:link{
  background-color: rosybrown;
}
#img-o{
  margin: 0 2%;

}
#main{
  width: 98%;
  height: 500px;
  padding-left: 5px;
 
}
.image{
  height: 200px;
  width: 300px;
  padding: 5px;

}
h5{
  margin:5px;
  padding: 10px;
  font-size: 13px;
} 
ol:hover{
  color: blue;

}
.footer p{
  border: none ;
}