body{
  background-color: rgb(184, 197, 187);
  width: 90%; 
  margin: 0 auto;
}
H1{
  text-align: CENTER;
  background-color: black;
  color: white;
  padding: 20px;
  font-style: initial;
  margin: 0 5px;
  font-weight: 700;
  display: block;
  position: fixed;
  width: 86%;
  opacity: 1.1;
  box-shadow: 3px 3Spx 5px red;
}
p{
  border: 2px solid black;  
  padding: 10px;
  font-family: Georgia, 'Times New Roman';
  margin: 5px;
  background-color: #2c5f2d;
}
h3{
  color: blueviolet;
  padding: 10px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
h4{
  padding: 10px;
  color: red;
  margin: 5px;
}
a:link{
  background-color: rosybrown;
}
em{
  color: yellow;
}
#img-o{
  /* margin: auto;
  left: auto;
  padding: ;
  position: flex;
  justify-content: center;  */
  
}
#main{
  width: 99%;
  height: 500px;
  padding: 100px 5px 5px;

  
}
.image{
  height: 200px;
  width: 300px;
  padding: 5px;

}
.footer li{
  display: inline;
  padding: 0;
} 
h5{
  margin:5px;
  padding: 10px;
  font-size: 13px;
} 
ol:hover{
  color: blue;

}
#copywrite p{
  border: none ;
  font-size: 15px;
  text-align: center  ;
  padding: 5px;
  font-size: 15px;
  background-color: green;
  
}
#social-menu {
  text-align: center;
  background-color: green;
  padding: 40px; 
}
footer img{
  height: 50px;
  width: 50px;
  display: inline;
  justify-content: space-around;
  padding: 0 10px;
  float:right ;
  margin: -auto;
}
